parent=base
locales=en,da


sigLogo={{signature_logo}}
sigAuthor={{signature_author}}
sigFunction={{signature_function}}
sigPhone={{signature_phone}}
sigEmail={{signature_email}}
sigAdd1={{signature_address1}}
sigAdd2={{signature_address2}}
sigAdd3={{signature_address3}}
sigWebsite={{signature_website}}
